<div class="row mb-2">
    <div class="card col-11">
        <a href="" class="btn">
            <div class="card-body row align-items-center">
                <div class="col-2">
                    <img [src]="team.urlImage" alt="team image" width="70">
                </div>
                <div class="col-8 text-start d-flex align-items-center">
                    <h2 class="card-title">{{team.name}}</h2>
                    <div class="circle">
                        <div class="half-circle half-circle-1"
                            [style]="'background: linear-gradient(to bottom right, '+ fixColor(team.primaryColor) + ' 50%, transparent 50%);'">
                        </div>
                        <div class="half-circle half-circle-2"
                            [style]="'background: linear-gradient(to top left, '+ fixColor(team.secondaryColor) + ' 50%, transparent 50%);'">
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-warning w-100 mt-3 d-flex align-items-center justify-content-center"
            (click)="open(content)">
            <div class="d-flex align-items-center">
                <span><i class="bi bi-pencil-square"></i> Edit </span>
            </div>
        </button>
        <button type="button" class="btn btn-danger mt-3 d-flex align-items-center"
            (click)="openDeleteModal(deleteModal)">
            <div class="d-flex align-items-center"><i class="bi bi-trash3-fill"></i>
                <span>Delete</span>
            </div>
        </button>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Team Edit</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="name">Name</label>
                <div class="form-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Fotball field"
                        [(ngModel)]="name" required />
                    <div id="nameErr" class="text-danger mx-3">{{ nameErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="logo">Logo url</label>
                <div class="form-group">
                    <input id="logo" name="logo" type="text" class="form-control" placeholder="logoe" [(ngModel)]="logo"
                        required />
                    <div id="logoErr" class="text-danger mx-3">{{ logoErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="primaryColor">Primary color</label>
                <div class="form-group">
                    <input id="primaryColor" name="primaryColor" type="color" class="form-control"
                        placeholder="primaryColore" [(ngModel)]="primaryColor" required />
                    <div id="primaryColorErr" class="text-danger mx-3">{{ primaryColorErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="secondaryColor">Secondary color</label>
                <div class="form-group">
                    <input id="secondaryColor" name="secondaryColor" type="color" class="form-control"
                        placeholder="Secondary color" [(ngModel)]="secondaryColor" required />
                    <div id="secondaryColorErr" class="text-danger mx-3">{{ secondaryColorErr }}</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="editTeam()">
            Save
        </button>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Deletion</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        Do you really want to delete this team? All associated players will be left without a team.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete(); modal.close()">Delete</button>
    </div>
</ng-template>