<div class="card">
    <a href="" class="btn">
        <div class="card-body">
            <h3 class="card-title">{{field.name}}</h3>
            <div class="d-flex justify-content-center">
                <div class="d-flex mx-2">
                    <p class="card-text">Ground:</p>
                    <p class="card-text mx-1">{{field.ground}}</p>
                </div>
                <div class="d-flex mx-2">
                    <p class="card-text">Price:</p>
                    <p class="card-text mx-1">{{field.price}}</p>
                </div>
                <div class="d-flex mx-2">
                    <p class="card-text">Team capacity:</p>
                    <p class="card-text mx-1">{{field.teamCapacity}}</p>
                </div>
                <div class="d-flex mx-2">
                    <p class="card-text">Latitude:</p>
                    <p class="card-text mx-1">{{field.latitude}}</p>
                </div>
                <div class="d-flex mx-2">
                    <p class="card-text">Longitude:</p>
                    <p class="card-text mx-1">{{field.longitude}}</p>
                </div>
            </div>

        </div>
    </a>
</div>