<div class="container">
    <div class="mt-4">
        <div class="row">
            <div class="col-2">
                <h1><strong>Teams</strong></h1>
            </div>
            <div class="col-8 d-flex mt-2">
                <div class="form-outline" data-mdb-input-init>
                    <input type="search" id="form1" class="form-control" size="1000" placeholder="Search"
                        aria-label="Search" />
                </div>
            </div>
            <div class="col-1 offset-1 d-flex align-items-center boton-anadir" (click)="open(content)">
                <button type="button" class="btn btn-primary">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle me-2" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                        </svg>
                        <span>New</span>
                    </div>
                </button>
            </div>
        </div>
        <hr style="margin-top: 0" />
    </div>
    <div>
        <app-team-list [teamList]="teamList"></app-team-list>
    </div>
    <div class="pagination justify-content-center">
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add team</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="nombre">Name</label>
                <div class="form-group">
                    <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Team name"
                        [(ngModel)]="nombre" required />
                    <div id="nombreErr" class="text-danger mx-3">{{ nombreErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="logo">Image logo</label>
                <div class="form-group">
                    <input id="logo" name="logo" type="text" class="form-control" placeholder="Logo URL"
                        [(ngModel)]="logo" required />
                    <div id="logoErr" class="text-danger mx-3">{{ logoErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="primaryColor">Primary color</label>
                <div class="form-group">
                    <input id="primaryColor" name="primaryColor" type="color" class="form-control"
                        placeholder="primaryColor" [(ngModel)]="primaryColor" required />
                    <div id="primaryColorErr" class="text-danger mx-3">{{ primaryColorErr }}</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="secondaryColor">Secondary color</label>
                <div class="form-group">
                    <input id="secondaryColor" name="secondaryColor" type="color" class="form-control"
                        placeholder="secondaryColor" [(ngModel)]="secondaryColor" required />
                    <div id="secondaryColorErr" class="text-danger mx-3">{{ secondaryColorErr }}</div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="crearTeam()">
            Save
        </button>
    </div>
</ng-template>